/* === Estilos Globales === */
html, body {
  height: 100%;
}
body {
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #d4af37; /* Color de texto dorado */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Fuente estándar */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
}

.inactive {
  display: none; /* Ocultar elementos */
}

.active {
  display: block; /* Mostrar elementos */
}

/* === Header === */
.header-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/vector-premium/fondo-oscuro-abstracto-ceros-tonos-gris_444390-3371.jpg"); /* Imagen de fondo */
  background-size: cover; /* Cubrir todo el espacio */
  background-position: center;
  background-repeat: no-repeat; /* Evitar repetición */
}

.header-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: #f6f2d160; /* Título del header */
}

/* Barra de navegación */
.barraNavegacion a {
  color: #d4af37;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem; /* Tamaño de fuente */
}

.barraNavegacion a:hover {
  color: #fff; /* Efecto hover */
}

/* === Contenedor Principal (Imagen y Texto) === */
.contenedorPrincipal {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Dos columnas, imagen ocupa 1 parte, texto 2 partes */
  gap: 20px;
  align-items: start;
  margin-top: 20px;
  padding: 20px;
}

.fotoPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoPerfil img {
  max-width: 300px;
  border-radius: 50%; /* Imagen redonda */
}

/* Información Personal */
.informacionPersonal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.nombre {
  font-size: 1.8rem;
  color: #d4af37;
  margin-bottom: 10px;
}

/* === Texto Justificado === */
.justified-text {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  color: #eae5d7;
  margin-right: 10px;
}

/* === Secciones de Contenido === */
.detallesPersonales,
.educacion,
.habilidadesTech,
.proyectos {
  padding: 20px; /* Padding para cada sección */
}

/* === Footer === */
footer {
  background-color: #3539345f;
  color: #d4af37;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: auto;}

/* === Tabla de Estudios === */
.table-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  text-align: left;
  padding: 12px;
}

.table-container th {
  background-color: #333333;
  color: #d9dac4;
  border-bottom: 2px solid #444444;
}

.table-container td {
  background-color: #1e1e1e;
  color: #e4e3d9;
}

.table-container tr:nth-child(even) {
  background-color: #2a2a2a;
}

.table-container tr:hover {
  background-color: #333333;
}

/* Scrollbar personalizado */
.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.5);
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.7);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.9);
}

/* === Cuadrícula de Habilidades Técnicas === */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajuste automático */
  gap: 20px; /* Espacio entre los elementos */
  padding: 10px; /* Espacio interno */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s; /* Suaviza el efecto de transformación */
}

.grid-item img {
  width: 80px;
  height: 80px; 
  object-fit: contain; 
  border-radius: 50%;
 
}


.grid-item:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  
}


/* === Proyectos === */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático */
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 10px; /* Agrega padding si es necesario */
  text-align: center; /* Centramos el contenido horizontalmente */
}

.project-card img {
  display: inline-block; /* Asegura que la imagen se comporte como elemento en línea */
  max-width: 80%; /* Controla el tamaño de la imagen */
  margin: 0 auto; /* Asegura que la imagen esté centrada */
}



.project-card:hover {
  transform: translateY(-5px);
}

/* === Sección de Idiomas === */
.section {
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font-size: 2rem;
  color: #d4af37;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.idioma-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.idioma {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.barra-progreso {
  background-color: #333;
  width: 70%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progreso {
  background-color: #d4af37;
  height: 100%;
  text-align: center;
  color: #1c1c1c;
  line-height: 20px;
  border-radius: 10px 0 0 10px;
  transition: width 0.4s ease;
}

.barra-progreso:hover .progreso {
  filter: brightness(1.2);
}

.imagenIdiomas img {
  display: block; /* Hace que la imagen se comporte como un bloque */
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto 70px auto; /* Centra horizontalmente y mantiene el margen inferior */
}


.imagenIdiomas img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* === Referencias === */
.referencia-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.referencia {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
}




/* === Móviles (Pantallas menores a 768px) === */
@media (max-width: 767px) {

  /* Header */
  .header-container {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
    align-items: center; /* Centramos los elementos horizontalmente */
    padding: 10px 15px; /* Ajustamos el padding */
    text-align: center; /* Centramos el texto del header */
  }

  .header-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    width: 100%; /* Aseguramos que el título ocupe el ancho completo */
  }

  .barraNavegacion {
    display: flex;
    flex-direction: column; /* Asegura que los enlaces se alineen verticalmente */
    width: 100%; /* Se ajusta al 100% del ancho */
    margin-top: 5px;
  }

  .barraNavegacion a {
    margin: 8px 0;
    font-size: 1.1rem;
    text-align: center; /* Centrar los enlaces de la barra de navegación */
  }

  /* Otros ajustes de móviles permanecen igual */
}

/* === Tablets (768px a 1024px) === */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alineamos los elementos verticalmente */
    justify-content: space-between; /* Distribuimos el espacio entre los elementos */
    padding: 10px;
  }

  .header-title {
    font-size: 2rem;
  }

  .barraNavegacion {
    display: flex;
    flex-direction: row; /* Alineamos los enlaces en fila */
    justify-content: flex-end; /* Colocamos los enlaces al final del header */
    gap: 15px; /* Añadimos espacio entre los enlaces */
  }

  .barraNavegacion a {
    font-size: 1.1rem;
    margin: 0;
  }}

/* === Tablets (768px a 1024px) === */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
  }

  .header-title {
    font-size: 2rem;
  }

  .contenedorPrincipal {
    grid-template-columns: 1fr 1fr;
    padding: 15px;
  }

  .fotoPerfil img {
    max-width: 230px; /* Ajustamos tamaño de la imagen para tablets */
  }

  .justified-text {
    font-size: 1.1rem;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .project-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }

  .project-card img {
    max-width: 90%; /* Tamaño óptimo para imágenes en tablets */
  }

  /* Sección de Idiomas */
  .section-title {
    font-size: 1.8rem;
  }
}